body{
    font-family: 'Open Sans', sans-serif;
}
label{
    font-size:14px;
}
.form__group {
position: relative;
padding: 15px 0 0;
margin-top: 10px;
}

.form__field {
font-family: inherit;
width: 100%;
border: 0;
border-bottom: 1px solid #d2d2d2;
outline: 0;
font-size: 14px;
color: #212121;
padding: 7px 0;
background: transparent;
transition: border-color 0.2s;
}

.form__field::placeholder {
color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
font-size: 14px;
cursor: text;
top: 20px;
}

label,
.form__field:focus ~ .form__label {
position: absolute;
top: 0;
display: block;
transition: 0.2s;
font-size: 12px;
color: #9b9b9b;
}
.body {
    position: relative;
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
  }
  
  .wrap {
    position: absolute;
    right: 0;
    top: 40%;
    width:  100%;
    left: 0;
    margin: 0 auto;
  }
  
  /* select starting stylings ------------------------------*/
  .select {
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
      position: relative;
      width: 100%;
  }
  
  .select-text {
      position: relative;
      font-family: inherit;
      background-color: transparent;
      padding: 10px 10px 10px 0;
      font-size: 14px;
      border-radius: 0;
      border: none;
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0, 0.12);
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
  /* Remove focus */
  .select-text:focus {
      outline: none;
      border-bottom: 1px solid rgba(0,0,0, 0);
  }
  
      /* Use custom arrow */
  .select .select-text {
      appearance: none;
      -webkit-appearance:none
  }
  
  .select:after {
      position: absolute;
      top: 18px;
      right: 10px;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.12);
      pointer-events: none;
  }
  
  
  /* LABEL ======================================= */
  .select-label {
      color: rgba(0,0,0, 0.26);
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 10px;
      transition: 0.2s ease all;
  }
  
  /* active state */
  .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
      color: #EF5451;
      top: -20px;
      transition: 0.2s ease all;
      font-size: 14px;
  }
  
  /* BOTTOM BARS ================================= */
  .select-bar {
      position: relative;
      display: block;
      width: 100%;
  }
  
  .select-bar:before, .select-bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #EF5451;
      transition: 0.2s ease all;
  }
  
  .select-bar:before {
      left: 50%;
  }
  
  .select-bar:after {
      right: 50%;
  }
  
  /* active state */
  .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
      width: 50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .select-highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }
.button-submit {
    min-height: 36px;
    min-width: 120px;
    line-height: 36px;
box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
background-color: #EF5451;
border-radius: 2px;
border: none;
color: #ffffff;
font-weight: 600;
text-transform: uppercase;
cursor: pointer;
outline: none;
font-family: "Open Sans", sans-serif;
}
div.browse-wrap {
    left: 0;
    margin: 0 20px 0 0px;
    overflow: hidden;
    float: left;
    width: 120px;
    border: none;
    border-radius: 3px;
    min-height: 36px;
    min-width: 120px;
    line-height: 36px;
    font-size: 14px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    position: relative;
    background-color: #EF5451;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
outline: none;
font-family: "Open Sans", sans-serif;}
div.title {
    color:#fff;
    font-size:14px;
    font-family: "Open Sans", sans-serif;}
input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    height:300px;
    outline:none;
    cursor:inherit;
    position:absolute;
    }
span.upload-path {
    text-align: left;
    display: block;
    font-size: 12px;
    color: #000;
    float: left;
    text-overflow: ellipsis;
    width: 130px;
    overflow: hidden;
    margin-top: 10px;
}
.form__field:focus ~ .form__label {
color: #EF5451;
}

.form__field:focus {
padding-bottom: 6px;
border-bottom: 2px solid #EF5451;
}
.button-submit{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
.login{
margin: auto;
width: 400PX;
text-align: center;
padding: 39px;
background: #fff;
border-radius: 3px;
margin-top: 30px;
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.get-questions{
    display: none;
}
.select-header{
    display: none;
}
.select-note{
    display: none;
}
.create-table{
    display: none;
}
.top-space{
margin-top:30px;
}

table{border-spacing: 0px;
    box-shadow: 2px 2px 10px #e7e7e7;
  }
  td, th{
    border-bottom: 1px solid #e7e7e7;
    padding:10px 24px 10px 24px;
    text-align: left;
}
td{
    color: rgba(0, 0, 0, 0.87);
    font-size:14px;
}
th{
    color: rgba(0, 0, 0, 0.54);
    font-size:12px;
}
  .excel-upload{
    display: none;
    margin-bottom: 20px;
  }
  i {
    cursor: pointer;
    margin-right: 15px;
}
td[contenteditable="true"]{
    background-color: #F1F1F1;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
  .create-table{
    margin: auto;
    width: 700px;
  }
  .remove-auto{
    display: block;
    float: right;
    margin: 0;
  }
  .table-submit{
      float: right;
      position: relative;
  }